/home/mbrown/Documents/cs345/py/control.py
/home/mbrown/Documents/cs345/py/craps.py
/home/mbrown/Documents/cs345/py/hello.py
/home/mbrown/Documents/cs345/py/io.py
/home/mbrown/Documents/cs345/py/io.pyc
/home/mbrown/Documents/cs345/py/list.py
/home/mbrown/Documents/cs345/py/loop.py
/home/mbrown/Documents/cs345/py/io.py
